
.trends{
  display: flex;
}

.trends .picker{
  width: 200px;
  border: 1px black solid;
}

  .trends .picker .stat{
    width: 100%;
  }

  .trends .picker .selected{
    background: purple;
    color: white;
  }

.trends .graph{
  position: relative;
  width: 510px;
  border: 1px black solid;

      height: 220px;
  display: flex;
  align-items: center;
  padding: 25px 0;
}

  .trends .graph .yTicks{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
  }

  .trends .graph .dates{
    width: 100%;
    padding: 10px 0;
    position: absolute;
    display: flex;
    align-items: center;
    /*transform: translateY(100%);*/
    top: 100%;
    /*padding-left: 50px;*/
  }

    .trends .graph .dates .day{
      display: flex;
      justify-content: center;
      box-sizing: border-box;
    } 

  .trends .graph .barsDates{
    /*interior 'margin' here should be half the x-height of the tick number/letters*/
    box-sizing: border-box;
    height: calc(100% - 12px);
    flex-grow: 1;
    border: 1px solid green;
    /*display: flex;*/
      display: flex;
    flex-direction: column;
    position: relative;
  }
    .trends .graph .barsDates .bars{
      width: 100%; height: 100%;
      display: flex;

    }
      .trends .graph .barsDates .bars .bar{
        transform-origin: 50% 100%;
        transition: transform .2s;
        /*the funny thing is without absolute positioning this is actually the 'negative space'
          but that saves the work of having to getDOMNode / width for x-offsets
        */
        /*position: absolute;*/
        /*bottom: 0;*/
      }

